@model IEnumerable<Chauffeur>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermisB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermisC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermisCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
            @if(item.PermisB){
                <p>Acquis</p>
            }
            </td>
            <td>
            @if(item.PermisC){
                <p>Acquis</p>
            }
            </td>
            <td>
            @if(item.PermisCE){
                <p>Acquis</p>
            }
            </td>
            <td>
                @if (item.Photo != null)
                {
                    <img src="~/@item.Photo" alt="N/A" class="img-fluid img-thumbnail" style="max-height: 3em; max-width: 3em" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
            </td>
        </tr>
    }
    </tbody>
</table>