@model IEnumerable<HELMo_bilite_2023_MartinDavid.ViewModel.DetailsCamionViewModel>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Ajouter un camion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Immatriculation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tonnage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modele)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Immatriculation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tonnage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Immatriculation">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Immatriculation">Details</a> |
                @if(!item.Utilisation){
                    <a asp-action="Delete" asp-route-id="@item.Immatriculation" style="color: firebrick">Supprimer</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
